.navlink {
  float: right;
}

.carousel {
  /* transition: transform 1s ease; */
  height: 400px;;
}

#img1, #img2, #img3 {
  height: 500px;
}

.nav.nav-fill {
  width: 1000px;
}

.nav-item {
  color: white;
}

.navbar {
  height: 50px;
}